#canvas {
    border:1px solid black;
}

.pointer {
    cursor: pointer;
}

.line {
    cursor: crosshair;
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    stroke-linejoin: round;
  }

/* #colorPaletteCol {
    width: 100px;
    float: left;
    height: 300px;
        background-color: blue;
}

#strokeWidthCol {
    width: 200px;
    float: left;
    height: 300px;
    background-color: green;
} */